<div id="sidebar" class="span4"><div class="sidebar-inner">

  <div class="sidebar-module social-media">
    <h3><i class="fa fa-group"></i><span>Stay Connected</span></h3>
    <ul class="social-media-links">
      <li><a class="ir facebook" href="http://facebook.com/{{ site.author.facebook }}" title="Join our Facebook Community"><span class="visually-hidden">Join our Facebook Community</span></a></li>
      <li><a class="ir twitter" href="http://twitter.com/{{ site.author.twitter }}" title="Follow us on Twitter"><span class="visually-hidden">Follow us on Twitter</span></a></li>
      <li><a class="ir steam" href="http://steamcommunity.com/groups/{{ site.author.steam }}" title="Join our Steam group"><span class="visually-hidden">Join our Steam group</span></a></li>
      <li><a class="ir mail" href="http://www.digra.org/the-association/digra-mailing-lists/" title="Subscribe to the DiGRA mailing list"><span class="visually-hidden">Subscribe to the DiGRA mailing list</span></a></li>
      <li><a class="ir rss" href="{{ site.url }}/feed" title="nom nom? Subscribe to our blog updates"><span class="visually-hidden">RSS Feed</span></a></li>
    </ul>
  </div>

  <div class="sidebar-module external-links">
    <h3><i class="fa fa-link"></i><span>Links</span></h3>
    <ul>
      <li><a href="{{ site.url }}/games-research-journals/">Games Research Journals</a></li>
      <li><a href="{{ site.url }}/games-research-positions/">Games Research Positions</a></li>
      <li><a href="{{ site.url }}/games-research-twitter/">Games Researchers on Twitter</a></li>
      <li><a href="http://journalreviewer.org/">Journal Reviewer</a></li>
      <li><a href="http://stats.stackexchange.com/">Cross Validated</a></li>
      <li><a href="http://rexmac.com/mturk">MTurk-Qualtrics Helper</a></li>
      <li><a href="http://www.phdcomics.com/">PhD Comics</a></li>
    </ul>
  </div>

  <div class="sidebar-module latest-posts">
    <h3><i class="fa fa-clock-o"></i><span>Latest Posts</span></h3>{% for post in site.posts limit: 5 %}
    <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
    <h6>{{ post.date | format_date }}</h6>
  {% endfor %}</div>

  <div class="sidebar-module tag-cloud">
    <h3><i class="fa fa-tags"></i><span>Tag Cloud</span></h3>
    {% tag_cloud %}
  </div>

  <div class="sidebar-module categories">
    <h3><i class="fa fa-list"></i><span>Categories</span></h3>
    {% category_list %}
  </div>

  <div class="sidebar-module archives">
    <h3><i class="fa fa-briefcase"></i><span>Archives</span></h3>
    {% monthly_archives %}
  </div>

</div></div>
