@import "bootstrap/bootstrap";
@import "bootstrap/responsive";
@import "compass";
@import "companimation";
@import "font-awesome/font-awesome";
@import "sprites";

$link-color: $linkColor;
$noise-bg: image-url('noise.png') 0 0 !default;
$icons-sprite: image-url($iconSpritePath) !default;
$icons-white-sprite: image-url($iconWhiteSpritePath) !default;
$pattern-bg: image-url('DIGRA_PatternBG.jpg') 0 0 !default;
$lightsoffLinkColor: #08f;
$lightsoffLinkColorHover: #5bf;

@mixin selection($bg, $color: inherit, $text-shadow: none){
  * {
    &::-moz-selection { background: $bg; color: $color; text-shadow: $text-shadow; }
    &::-webkit-selection { background: $bg; color: $color; text-shadow: $text-shadow; }
    &::selection { background: $bg; color: $color; text-shadow: $text-shadow; }
  }
}

@import "solarized";
@import "syntax";
@import "helpers";

/*
@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('/font/LeagueGothic-Regular-webfont.eot');
  src: url('/font/LeagueGothic-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/font/LeagueGothic-Regular-webfont.woff') format('woff'),
       url('/font/LeagueGothic-Regular-webfont.ttf') format('truetype'),
       url('/font/LeagueGothic-Regular-webfont.svg#LeagueGothicRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/

body {
  background: #000;
  padding-top: $navbarHeight;
  @media (max-width: 979px) {
    padding-top: 0;
  }
  .lightsoff & {
    background-color: #1d1d1d;
    color: #bbb;
  }
}

a {
  .lightsoff & {
    @include link-colors($lightsoffLinkColor, $lightsoffLinkColorHover, $lightsoffLinkColorHover, $lightsoffLinkColor, $lightsoffLinkColorHover);
  }
}

#body-bg {
  background: #000 $pattern-bg;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -9;
  @include opacity(0.3);
}


@import "accordions";
@import "alerts";
@import "buttons";
@import "dictionary";
@import "forms";
@import "foundation/components/keystrokes";
@import "nav";
@import "footer";
@import "sidebar";
@import "posts";
@import "post-dates";
@import "tagcloud";
@import "profile-flip";
@import "socialmedia-icons";
@import "tooltips";
@import "print";


/* =============================================================================
   Thumbnails
   ========================================================================== */
img.thumbnail {
  .lightsoff & { border-color: $gray; }
}


/* =============================================================================
   Miscellaneous
   ========================================================================== */
.home-links h2 {
  margin-left: 0.3em;
}

.loading {
  display: table;
  margin: 0 auto;

  > span {
    display: table-cell;
    vertical-align: middle;
    padding-left: 1em;
  }
}

.page {
  h1, h2, h3 {
    //font-family: 'LeagueGothicRegular', $sansFontFamily;
    //text-transform: uppercase;
  }

  h3 {
    margin-top: 1em;
  }
}

.twitter-timeline {
  width: 100%;
  margin-top: 1em;
  @include box-shadow(0 0 8px 1px rgba(0, 0, 0, 0.05));
}


/* =============================================================================
   non-semantic helper classes
   ========================================================================== */

// For image replacement
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  // IE 6/7 fallback
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
